[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dictionar6"]
	path = dictionar6
	url = https://github.com/xoopr/dictionar6
	shallow = true
	registered = true
[submodule "ooplah"]
	path = ooplah
	url = https://github.com/xoopr/ooplah
	shallow = true
	registered = true
[submodule "param6"]
	path = param6
	url = https://github.com/xoopr/param6
	shallow = true
	registered = true
[submodule "set6"]
	path = set6
	url = https://github.com/xoopr/set6
	shallow = true
	registered = true
