[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "R62S3"]
	path = R62S3
	url = https://github.com/xoopr/r62s3
[submodule "dictionar6"]
	path = dictionar6
	url = https://github.com/xoopr/dictionar6
[submodule "ooplah"]
	path = ooplah
	url = https://github.com/xoopr/ooplah
