[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ooplah"]
	path = ooplah
	url = https://github.com/xoopr/ooplah
	shallow = true
	registered = true
[submodule "R62S3"]
	path = R62S3
	url = https://github.com/xoopr/r62s3
	shallow = true
	registered = true
